<div class="hero">
  <div class="container">
    <h1 class="title">
      Never Caught
      <br />
      Off-Guard Again
    </h1>
    <p class="info">
      We are specialist in protecting your assets and reputation to make sure
      you operate risk-free and focus on your core business.
    </p>
    <a class="more" href="#home"> Learn More </a>
    <div class="arrCont">
      <svg class="arrow" width="30" height="16">
        <use href="../../assets/img/sprite.svg#icon-arrow"></use>
      </svg>
      <p class="scroll">Scroll</p>
    </div>
  </div>
</div>
